# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Environment
.env
.env.*

# Logs
*.log

# Virtual environment
venv/
env/

# Node
node_modules/
build/
dist/
*.lock

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Uploads and temporary data
uploads/
temp/
__files__/

# Compiled stuff
*.exe
*.dll
*.so
*.dylib

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Cache
*.cache/